body {
    background-color: #000;
}
.display-container {
    opacity: 1;
    transition: all 300ms linear;
}

.display-on {
    transition: all 300ms linear;
    opacity: 1;
    pointer-events: all;
}

.display-off {
    opacity: 0;
    pointer-events: none;
}